<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>2141. Maximum Running Time of N Computers</title>
    <link rel="stylesheet" href="/styles.min.css" />
    <link rel="stylesheet" href="/styles.css" />
    <script src="/solution.js"></script>
</head>
<body>
    <main>
        <h1>LeetCode 2141: Maximum Running Time of N Computers (C++)</h1>

        <div class="problem-description">
            <p><strong>Problem:</strong>
                You have n computers. You are given the integer n and a 0-indexed integer array batteries where the i<sup>th</sup> battery can run a computer for batteries[i] minutes. You are interested in running all n computers simultaneously using the given batteries. Initially, you can insert at most one battery into each computer. After that and at any integer time moment, you can remove a battery from a computer and insert another battery any number of times. The inserted battery can be a totally new battery or a battery from another computer. You may assume that the removing and inserting processes take no time. Note that the batteries cannot be recharged. Return the maximum number of minutes you can run all the n computers simultaneously.
            </p>
            <p><strong>Example:</strong>
                Input: n = 2, batteries = [3,3,3]<br/>
                Output: 4<br/>
                Explanation: Initially, insert battery 0 into the first computer and battery 1 into the second computer. After two minutes, remove battery 1 from the second computer and insert battery 2 instead. Note that battery 1 can still run for one minute. At the end of the third minute, battery 0 is drained, and you need to remove it from the first computer and insert battery 1 instead. By the end of the fourth minute, battery 1 is also drained, and the first computer is no longer running. We can run the two computers simultaneously for at most 4 minutes, so we return 4.<br/><br/>
                Input: n = 2, batteries = [1,1,1,1]<br/>
                Output: 2<br/>
                Explanation: Initially, insert battery 0 into the first computer and battery 2 into the second computer. After one minute, battery 0 and battery 2 are drained so you need to remove them and insert battery 1 into the first computer and battery 3 into the second computer. After another minute, battery 1 and battery 3 are also drained so the first and second computers are no longer running. We can run the two computers simultaneously for at most 2 minutes, so we return 2.
            </p>
        </div>

        <div class="code-container">
            <button class="copy-button" onclick="copyCode(this)">Copy Code</button>
            <pre><code class="language-cpp">class Solution {
public:
    long long maxRunTime(int n, vector&lt;int&gt;&amp; batteries) {
        long long totalPower = 0;
        for (int battery : batteries) {
            totalPower += battery;
        }
        
        // Sort batteries in descending order
        sort(batteries.begin(), batteries.end(), greater&lt;int&gt;());
        
        // Remove batteries that are too large to share
        for (int i = 0; i &lt; batteries.size(); i++) {
            // If this battery can power one computer for the average time
            if (batteries[i] &gt; totalPower / n) {
                totalPower -= batteries[i];
                n--;
            } else {
                // All remaining batteries can be shared
                break;
            }
        }
        
        return totalPower / n;
    }
};</code></pre>
        </div>

        <a href="/" class="back-link">â† Back to Home</a>
    </main>
</body>
</html>